[submodule "ndk/ofm"]
	path = ndk/ofm
	url = ../ofm.git
[submodule "ndk/core"]
	path = ndk/core
	url = ../ndk-core.git
[submodule "ndk/cards"]
	path = ndk/cards
	url = ../ndk-cards-open.git
[submodule "ndk/modules/ndk-mod-dma-medusa"]
	path = ndk/modules/ndk-mod-dma-medusa
	url = ../ndk-mod-dma-medusa.git
[submodule "ndk/cards_private/nfb-200g2ql"]
	path = ndk/cards_private/nfb-200g2ql
	url = ../ndk-card-nfb-200g2ql.git
