create-object-name-match
explicit-begin=while_enable:false
explicit-function-lifetime
explicit-function-task-parameter-type
explicit-task-lifetime
forbid-consecutive-null-statements
forbid-line-continuations
forbid-negative-array-dim
generate-label
interface-name-style
invalid-system-task-function
line-length=length:120
macro-name-style
mismatched-labels
module-filename
module-parameter
module-port
no-tabs
no-trailing-spaces
numeric-format-string-style
one-module-per-file
parameter-name-style=localparam_style:ALL_CAPS;parameter_style:ALL_CAPS
posix-eof
suspicious-semicolon
truncated-numeric-literal
